.autotools
.cproject
.project
.settings/
aclocal.m4
autom4te.cache/
autopackage/default.apspec
autopackage/Makefile
autopackage/Makefile.in
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.sub
config.status
configure
configure~
data/xpad.appdata.xml
depcomp
doc/Makefile
doc/Makefile.in
images/Makefile
images/Makefile.in
install-sh
m4/
Makefile
Makefile.in
missing
po/af.gmo
po/bg.gmo
po/cs.gmo
po/da.gmo
po/de.gmo
po/en_GB.gmo
po/es.gmo
po/et.gmo
po/fi.gmo
po/fr.gmo
po/ga.gmo
po/hr.gmo
po/hu.gmo
po/it.gmo
po/ja.gmo
po/ko.gmo
po/lv.gmo
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/nl.gmo
po/POTFILES
po/pt.gmo
po/ro.gmo
po/ru.gmo
po/rw.gmo
po/stamp-it
po/sv.gmo
po/th.gmo
po/tr.gmo
po/vi.gmo
po/zh_CN.gmo
po/zh_TW.gmo
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
po/*.po~
src/.deps/
src/Makefile
src/Makefile.in
src/xpad
src/*.o
stamp-h1
xpad.desktop
ABOUT-NLS
