[Desktop Entry]
Encoding=UTF-8
Version=1.0

Name=xpad

GenericName=Sticky Notes
GenericName[fr]=Mémos Autocollants
GenericName[it]=Note Adesive

Comment=Jot down notes for later
Comment[fr]=Prenez des notes pour plus tard
Comment[it]=Prendi delle note per più tardi

FilePattern=xpad
TryExec=xpad
Exec=xpad

Terminal=false
Icon=xpad.xpm
StartupNotify=true

Type=Application
Categories=Application;TODO;Utility;GTK;
